
.res-image{
    border-radius: 16px;
    object-fit: cover;
    width: 257.2px;
    height: 171.467px;
    position: relative
    
}

.res-card-text{
    font-size: 18px;
}

.res-container{
    flex-wrap: wrap;
    display: flex;
    padding: 20px;
    position: relative;
}


.restaurant-menu-link{
    text-decoration: none;
}

.restaurant-menu-link:hover,
.restaurant-menu-link{
    color: inherit;

}


.res-card{
    margin: 15px;
}
.res-card:hover{
    border: 1px solid black;
    cursor: pointer;

}

.res-cuisine{
    font-weight: 200;
    font-size: 16px;
    justify-content: center;
}

.res-card-description{
    display: grid;
}

.header{
    display: flex;
    justify-content:space-between;
    padding: 0px 10px;
    margin: 10px;
}
.nav-items
{
    padding: 20px;
}

.nav-item-link:hover,
.nav-item-link{
    text-decoration: none;
    margin: 30px;
    color:inherit
}


.discount-header{
    position: absolute;
    margin-top: -20px;
    color: rgba(255, 255, 255, 0.8);
    margin-top: -30px;
    font-size: 22px;
    font-weight: 800;
    line-height: 22px;
    
}

.footer{
    background-color: rgb(2, 6, 12);
}

.footer__text{
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 10px;
    
}

.footer_link{
    text-decoration: none;
    color:rgba(255, 255, 255, 0.8);
    margin-right: 20px;
}

.footer__links{
    display: flex;
    justify-content: center;
    padding: 10px;
}


.restaurant-menu-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.menu-accordion{
    justify-content: center;
    display: flex;
}


.restauarant-name{
    justify-content: center;
    display: flex;
    font-size: 30px;
    font-weight: 800;
}